.userData {
	position: relative;
	margin: 20px 0;
	padding: 20px;
	border: 1px solid #2481B7;
}

.userData input {
  border: 1px solid #E0E0E0;
  padding: 9px;
  border-radius: 3px;
  font-size: 16px;
  width: 190px;
  margin-right: 3px;
}

.userData input.submit {
  border: 0;
  background: #2481B7;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  width: 107px;
  margin-right: 0
}

.validation {
	color: #2481B7;
	font-size: 13px;
	display: block;
	opacity: 0;
	max-height: 0;
	transition: all .3s ease;
}

.validation.open {
	max-height: 150px;
	opacity: 1;
	margin-bottom: 20px;
}

.validation a {
	background: #9B9B9B;
	color: white;
	padding: 3px 6px;
	border-radius: 3px;
	font-weight: 600;
	margin-left: 5px;
}

.intro {
	font-size: 15px;
	margin-bottom: 20px;
}

.intro p {
	margin-bottom: 20px;
}

.intro p:last-child {
	margin-bottom: 0;
}